<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="Windard" />
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="{% if page.keywords %} {{ page.keywords }} {% else %}{{ site.keywords }}{% endif %} ">
    <meta name="description" content="{% if page.description %} {{ page.description }} {% else %}{{ site.description }}{% endif %} " />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script type="application/ld+json">
    {
      "@context": "https://windard.org/",
      "@type": "{{ page.category }}",
      "name": "{{ page.title }}",
      "author": {
        "@type": "Backend Enginer",
        "name": "Windard Yang"
      },
      "datePublished": "{{ page.date|date:"%Y-%m-%d" }}",
      "description": "{% if page.description %} {{ page.description }} {% else %}{{ site.description }}{% endif %}",
    }
    </script>
</head>
<body>

    <div class="home-menu">
        <div class="home-icon-con">
            <a class="home-menu-icon" href="/">Windard</a>
            <a class="home-follow" href="#" title="Contact Me">+</a>
        </div>
        <div class="home-contact">
            <a href="https://github.com/windard" target="_blank" style="margin-left:-5px;" title="Github"><img src="/images/GitHub-Mark-Light-64px.png" alt="Github" width="25"/></a>
            <a href="https://www.zhihu.com/people/yang-wen-qiang-68" target="_blank" style="text-align:center;" title="Zhihu"><img src="/images/zhihu-logo_96.png" alt="Zhihu" width="22"/></a>
            <a href="{{ site.feed }}" target="_blank" style="text-align:right" title="RSS"><img src="/images/rss.png" alt="RSS" width="22"/></a>
        </div>
    </div>

    {{ content }}
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<div class="busuanzi center " style="display:none !important">
    页阅读量:&nbsp;<span id="busuanzi_value_page_pv"></span>&nbsp;・&nbsp;
    站访问量:&nbsp;<span id="busuanzi_value_site_pv"></span>&nbsp;・&nbsp;
    站访客数:&nbsp;<span id="busuanzi_value_site_uv"></span>
</div>
    <script type="text/javascript">
        $(function(){
            $('.home-follow').click(function(e){
                e.preventDefault();

                if($('.home-contact').is(':visible')){
                    $('.home-contact').slideUp(100);
                }else{
                    $('.home-contact').slideDown(100);
                }
            });
        })
        $(document).ready(function(){
            var backToTopTxt = "▲", backToTopEle = jQuery('<div class="backToTop"></div>').appendTo(jQuery("body")).text(backToTopTxt).attr("title","Back top top").click(function() {
                jQuery("html, body").animate({ scrollTop: 0 }, 480);
            }), backToTopFun = function() {
                var st = jQuery(document).scrollTop(), winh = jQuery(window).height();
                (st > 200)? backToTopEle.show(): backToTopEle.hide();
                //IE6下的定位
                if (!window.XMLHttpRequest) {
                    backToTopEle.css("top", st + winh - 166);
                }
            };

            backToTopEle.hide();
            jQuery(window).bind("scroll", backToTopFun);
            jQuery('div.main a,div.pic a').attr('target', '_blank');
        })
    </script>
</body>
</html>
